# =============================================================================
# TravelHub — API Gateway OpenAPI Specification (PROD — snapshot desplegado)
# =============================================================================
# NO EDITAR DIRECTAMENTE. Este archivo es un snapshot de la spec efectiva
# generada por `scripts/08-gateway.sh` a partir de `openapi-spec.template.yaml`
# usando envsubst con las URLs de `config/environments/dev.env`.
#
# Para regenerar tras cambios en URLs:
#   source config/environments/dev.env && bash scripts/08-gateway.sh
#
# Backends activos en DEV (gen-lang-client-0930444414):
#   user-services             -> https://user-services-qhweqfkejq-uc.a.run.app
#   search-services           -> https://search-service-PLACEHOLDER.a.run.app
#   booking-services          -> https://booking-service-PLACEHOLDER.a.run.app
#   pms-integration-services  -> https://pms-integration-services-qhweqfkejq-uc.a.run.app
#
# Backends NO desplegados (placeholder devuelve 503):
#   payments-services, inventory-services, notification-services, shopping-cart-services
#
# CORS:
#   Habilitado via x-google-endpoints.allowCors: true + bloque options en cada ruta.
#   El gateway responde los preflight OPTIONS directamente sin llegar al backend.
#
# Seguridad JWT:
#   El gateway valida: firma RS256, issuer, audience, expiracion.
#   Los claims de negocio (role, mfa_verified) los valida el backend.
# =============================================================================

swagger: "2.0"
info:
  title: "TravelHub API Gateway"
  version: "1.0.0"
  description: |
    Gateway de entrada para TravelHub. Valida JWT a nivel de infraestructura
    y rutea a microservicios en Cloud Run.

host: "prod-travelhub-gateway-cfv1jc0r.uc.gateway.dev"
basePath: "/"
schemes:
  - "https"
produces:
  - "application/json"
consumes:
  - "application/json"

# =============================================================================
# CORS — habilita preflight en todos los endpoints del gateway
# =============================================================================
x-google-endpoints:
  - name: "prod-travelhub-gateway-cfv1jc0r.uc.gateway.dev"
    allowCors: true

# =============================================================================
# Configuracion de seguridad JWT
# =============================================================================
securityDefinitions:
  travelhub_jwt:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "https://auth.travelhub.app"
    x-google-audiences: "travelhub-api"
    x-google-jwks_uri: "https://user-services-qhweqfkejq-uc.a.run.app/.well-known/jwks.json"

# =============================================================================
# Rutas — Microservicios
# =============================================================================
paths:

  # ---------------------------------------------------------------------------
  # User Service — Rutas PUBLICAS (sin JWT)
  # Backend: user-services-qhweqfkejq-uc.a.run.app
  # ---------------------------------------------------------------------------

  /.well-known/jwks.json:
    get:
      operationId: "GetJwks"
      summary: "Endpoint JWKS publico — expone claves publicas RS256 para verificacion JWT"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "JWKS document"
    options:
      operationId: "GetJwksCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /health:
    get:
      operationId: "HealthCheck"
      summary: "Health check global — no requiere JWT"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Servicio saludable"
    options:
      operationId: "HealthCheckCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /api/v1/auth/login:
    post:
      operationId: "AuthLogin"
      summary: "Login — no requiere JWT. Retorna access token + refresh token"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Login exitoso, retorna JWT"
    options:
      operationId: "AuthLoginCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /api/v1/auth/register:
    post:
      operationId: "AuthRegister"
      summary: "Registro de usuario — no requiere JWT"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "201":
          description: "Usuario registrado"
    options:
      operationId: "AuthRegisterCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /api/v1/auth/refresh:
    post:
      operationId: "AuthRefresh"
      summary: "Refresh token — no requiere JWT (usa refresh token en body)"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Nuevo access token emitido"
    options:
      operationId: "AuthRefreshCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  # ---------------------------------------------------------------------------
  # User Service — Rutas PROTEGIDAS (requieren JWT valido)
  # El gateway valida firma/issuer/audience/expiracion antes de rutear.
  # ---------------------------------------------------------------------------

  /api/v1/auth/me:
    get:
      operationId: "GetUserInfo"
      summary: "Informacion del usuario autenticado"
      security:
        - travelhub_jwt: []
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Informacion del usuario autenticado"
        "401":
          description: "JWT invalido o expirado — rechazado por gateway"
    put:
      operationId: "UpdateUserProfile"
      summary: "Actualizar perfil del usuario autenticado"
      security:
        - travelhub_jwt: []
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Perfil actualizado"
        "401":
          description: "JWT invalido o expirado — rechazado por gateway"
    options:
      operationId: "AuthMeCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /api/v1/auth/mfa/setup:
    post:
      operationId: "MfaSetup"
      summary: "Generar secreto TOTP para MFA"
      security:
        - travelhub_jwt: []
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Secreto TOTP generado"
        "401":
          description: "JWT invalido o expirado — rechazado por gateway"
    options:
      operationId: "MfaSetupCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /api/v1/auth/mfa/verify:
    post:
      operationId: "MfaVerify"
      summary: "Verificar codigo TOTP y activar MFA"
      security:
        - travelhub_jwt: []
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "MFA activado"
        "401":
          description: "JWT invalido o expirado — rechazado por gateway"
    options:
      operationId: "MfaVerifyCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  # ---------------------------------------------------------------------------
  # User Service — Rutas ADMIN (requieren JWT + validacion RBAC en backend)
  # NOTA: OpenAPI 2 {path} captura solo 1 segmento. Rutas multi-segment
  # (admin/users/promote) requieren declaracion explicita.
  # ---------------------------------------------------------------------------

  /api/v1/admin/users/promote:
    post:
      operationId: "AdminPromoteUser"
      summary: "Promover usuario a admin_hotel (requiere platform_admin)"
      security:
        - travelhub_jwt: []
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200": {description: "Usuario promovido"}
        "401": {description: "JWT invalido"}
        "403": {description: "No es platform_admin"}
        "404": {description: "Usuario no encontrado"}
    options:
      operationId: "AdminPromoteUserCors"
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204": {description: "CORS preflight"}

  /api/v1/admin/{path}:
    get:
      operationId: "AdminGet"
      summary: "Panel admin — JWT validado en gateway, RBAC en backend"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Datos admin"
        "401":
          description: "JWT invalido — rechazado por gateway"
        "403":
          description: "Rol insuficiente — rechazado por Chain of Responsibility en backend"
    post:
      operationId: "AdminPost"
      summary: "Crear recurso"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "201":
          description: "Crear recurso"
        "401":
          description: "JWT invalido — rechazado por gateway"
    put:
      operationId: "AdminPut"
      summary: "Actualizar recurso"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Actualizar recurso"
        "401":
          description: "JWT invalido — rechazado por gateway"
    patch:
      operationId: "AdminPatch"
      summary: "Patch parcial"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Patch parcial"
        "401":
          description: "JWT invalido — rechazado por gateway"
    delete:
      operationId: "AdminDelete"
      summary: "Eliminar recurso (soft)"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Eliminar recurso (soft)"
        "401":
          description: "JWT invalido — rechazado por gateway"
    options:
      operationId: "AdminCors"
      summary: "CORS preflight"
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://user-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  # ---------------------------------------------------------------------------
  # Search Service — Rutas PUBLICAS (sin JWT)
  # Backend: search-service-PLACEHOLDER.a.run.app
  # Rutas expuestas directamente bajo /search/ para compatibilidad con el
  # mapeo actual del frontend (sin prefijo /api/v1/).
  # ---------------------------------------------------------------------------

  /search/ping:
    get:
      operationId: "HealthCheckSearchService"
      summary: "Health check del Search Service — no requiere JWT"
      x-google-backend:
        address: "https://search-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Servicio saludable"
    options:
      operationId: "HealthCheckSearchServiceCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://search-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /search/search_cities:
    get:
      operationId: "SearchCities"
      summary: "Busqueda de ciudades disponibles con habitaciones — no requiere JWT"
      x-google-backend:
        address: "https://search-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Ciudades disponibles"
    options:
      operationId: "SearchCitiesCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://search-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /search/search_rooms:
    get:
      operationId: "SearchRooms"
      summary: "Busqueda de habitaciones disponibles — no requiere JWT"
      parameters:
        - name: ciudad
          in: query
          required: true
          type: string
          description: "Ciudad de busqueda"
        - name: checkin
          in: query
          required: true
          type: string
          format: date
          description: "Fecha de entrada (formato YYYY-MM-DD)"
        - name: checkout
          in: query
          required: true
          type: string
          format: date
          description: "Fecha de salida (formato YYYY-MM-DD)"
        - name: group
          in: query
          required: true
          type: integer
          description: "Numero de huespedes"
        - name: rooms
          in: query
          required: true
          type: integer
          description: "Numero de habitaciones solicitadas"
      x-google-backend:
        address: "https://search-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Resultados de busqueda"
    options:
      operationId: "SearchRoomsCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://search-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /search/detail_room:
    get:
      operationId: "SearchDetailRoom"
      summary: "Detalle de habitacion — no requiere JWT"
      parameters:
        - name: habitacionId
          in: query
          required: true
          type: string
          description: "ID de la habitacion"
        - name: checkin
          in: query
          required: true
          type: string
          format: date
          description: "Fecha de entrada (formato YYYY-MM-DD)"
        - name: checkout
          in: query
          required: true
          type: string
          format: date
          description: "Fecha de salida (formato YYYY-MM-DD)"
      x-google-backend:
        address: "https://search-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Detalle de habitacion"
    options:
      operationId: "SearchDetailRoomCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://search-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  # ---------------------------------------------------------------------------
  # Booking Service — Rutas PUBLICAS (sin JWT)
  # Backend: booking-service-PLACEHOLDER.a.run.app
  # Rutas expuestas bajo /api/booking/ (sin v1) por compatibilidad con el
  # mapeo actual del frontend.
  # ---------------------------------------------------------------------------

  /api/v1/booking/ping:
    get:
      operationId: "HealthCheckBookingService"
      summary: "Health check del Booking Service — no requiere JWT"
      x-google-backend:
        address: "https://booking-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Servicio saludable"
    options:
      operationId: "HealthCheckBookingServiceCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://booking-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /api/v1/booking/reviews_hotel:
    get:
      operationId: "SearchHotelReview"
      summary: "Resenas del hotel — no requiere JWT"
      parameters:
        - name: hotelId
          in: query
          required: true
          type: string
          description: "ID del hotel"
      x-google-backend:
        address: "https://booking-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Resenas del hotel"
    options:
      operationId: "SearchHotelReviewCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://booking-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  # ---------------------------------------------------------------------------
  # Booking Service — Rutas PROTEGIDAS (requieren JWT valido)
  # ---------------------------------------------------------------------------

  /api/v1/booking/booking_room:
    post:
      operationId: "BookingRoom"
      summary: "Reservar una habitacion"
      security:
        - travelhub_jwt: []
      x-google-backend:
        address: "https://booking-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Reserva generada"
        "401":
          description: "JWT invalido o expirado — rechazado por gateway"
    options:
      operationId: "BookingRoomCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://booking-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /api/v1/booking/get_bookings:
    get:
      operationId: "getBookings"
      summary: "Obtener reservas"
      security:
        - travelhub_jwt: []
      x-google-backend:
        address: "https://booking-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Tus reservas"
        "401":
          description: "JWT invalido o expirado — rechazado por gateway"
    options:
      operationId: "BookingGetBookingsCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://booking-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /api/v1/booking/{path}:
    get:
      operationId: "BookingServicesGet"
      summary: "Consultar reservas"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://booking-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Reservas del usuario"
        "401":
          description: "JWT invalido — rechazado por gateway"
    post:
      operationId: "BookingServicesPost"
      summary: "Crear reserva"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://booking-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "201":
          description: "Reserva creada"
        "401":
          description: "JWT invalido — rechazado por gateway"
    put:
      operationId: "BookingSvcPut"
      summary: "Actualizar recurso"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://dev-booking-service-app-service-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Actualizar recurso"
        "401":
          description: "JWT invalido — rechazado por gateway"
    patch:
      operationId: "BookingSvcPatch"
      summary: "Patch parcial"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://dev-booking-service-app-service-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Patch parcial"
        "401":
          description: "JWT invalido — rechazado por gateway"
    delete:
      operationId: "BookingSvcDelete"
      summary: "Eliminar recurso (soft)"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://dev-booking-service-app-service-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Eliminar recurso (soft)"
        "401":
          description: "JWT invalido — rechazado por gateway"
    options:
      operationId: "BookingServicesCors"
      summary: "CORS preflight"
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://booking-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /api/v1/booking/update/{booking_id}:
    patch:
      operationId: "UpdateBookingStatus"
      summary: "Actualizar estado de una reserva"
      security:
        - travelhub_jwt: [] 
      parameters:
        - name: booking_id
          in: path
          required: true
          type: string
          description: "ID de la reserva a actualizar"
      x-google-backend:
        address: "https://booking-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Reserva actualizada"
        "401":
          description: "JWT invalido o expirado — rechazado por gateway"
    options:
      operationId: "UpdateBookingStatusCors"
      summary: "CORS preflight"
      parameters:
        - name: booking_id
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://booking-service-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  # ---------------------------------------------------------------------------
  # Payment Service — Rutas PROTEGIDAS (requieren JWT valido)
  # Backend: NO DESPLEGADO — placeholder retorna 503
  # ---------------------------------------------------------------------------

  /api/v1/payments/{path}:
    post:
      operationId: "PaymentServices"
      summary: "Procesar pago"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://payments-services-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Pago procesado"
        "401":
          description: "JWT invalido — rechazado por gateway"
    get:
      operationId: "PaymentsGet"
      summary: "Consultar recurso"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://payments-services-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Consultar recurso"
        "401":
          description: "JWT invalido — rechazado por gateway"
    put:
      operationId: "PaymentsPut"
      summary: "Actualizar recurso"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://payments-services-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Actualizar recurso"
        "401":
          description: "JWT invalido — rechazado por gateway"
    patch:
      operationId: "PaymentsPatch"
      summary: "Patch parcial"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://payments-services-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Patch parcial"
        "401":
          description: "JWT invalido — rechazado por gateway"
    delete:
      operationId: "PaymentsDelete"
      summary: "Eliminar recurso (soft)"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://payments-services-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Eliminar recurso (soft)"
        "401":
          description: "JWT invalido — rechazado por gateway"
    options:
      operationId: "PaymentServicesCors"
      summary: "CORS preflight"
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://payments-services-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  # ---------------------------------------------------------------------------
  # Inventory Service — Rutas PROTEGIDAS (requieren JWT valido)
  # Backend: inventory-services-qhweqfkejq-uc.a.run.app
  # Schema canonical 2026-05-14: /habitaciones, /hoteles, /tarifas (espanol)
  # Rutas multi-segmento explicitas (wildcard /{path} solo matchea 1 segmento).
  # ---------------------------------------------------------------------------

  /api/v1/inventory/habitaciones/{habitacion_id}/tarifas:
    get:
      operationId: "InventoryListTarifasByHabitacion"
      summary: "Listar tarifas de una habitacion"
      security:
        - travelhub_jwt: []
      parameters:
        - {name: habitacion_id, in: path, required: true, type: string}
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200": {description: "Lista de tarifas"}
        "401": {description: "JWT invalido"}
    post:
      operationId: "InventoryCreateTarifa"
      summary: "Crear tarifa para una habitacion (publica evento Kafka)"
      security:
        - travelhub_jwt: []
      parameters:
        - {name: habitacion_id, in: path, required: true, type: string}
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "201": {description: "Tarifa creada"}
        "401": {description: "JWT invalido"}
    options:
      operationId: "InventoryHabitacionTarifasCors"
      parameters:
        - {name: habitacion_id, in: path, required: true, type: string}
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204": {description: "CORS preflight"}

  # PUBLICO (sin JWT): viajero anonimo consulta tarifa base antes de registrarse
  /api/v1/inventory/habitaciones/{habitacion_id}/tarifas/base:
    get:
      operationId: "InventoryGetTarifaBase"
      summary: "Tarifa BASE (descuento=0) vigente para fecha (default now). Publico."
      parameters:
        - {name: habitacion_id, in: path, required: true, type: string}
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200": {description: "Tarifa base"}
        "404": {description: "No hay tarifa base vigente"}
    options:
      operationId: "InventoryHabitacionTarifaBaseCors"
      parameters:
        - {name: habitacion_id, in: path, required: true, type: string}
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204": {description: "CORS preflight"}

  /api/v1/inventory/hoteles/{hotel_id}/tarifas:
    get:
      operationId: "InventoryListTarifasByHotel"
      summary: "Listar tarifas de un hotel"
      security:
        - travelhub_jwt: []
      parameters:
        - {name: hotel_id, in: path, required: true, type: string}
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200": {description: "Lista de tarifas"}
        "401": {description: "JWT invalido"}
    options:
      operationId: "InventoryHotelTarifasCors"
      parameters:
        - {name: hotel_id, in: path, required: true, type: string}
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204": {description: "CORS preflight"}

  /api/v1/inventory/hoteles/{hotel_id}/habitaciones:
    get:
      operationId: "InventoryListHabitacionesByHotel"
      summary: "Listar habitaciones de un hotel (vista admin)"
      security:
        - travelhub_jwt: []
      parameters:
        - {name: hotel_id, in: path, required: true, type: string}
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200": {description: "Lista de habitaciones"}
        "401": {description: "JWT invalido"}
        "403": {description: "hotel_admin pidiendo hotel ajeno"}
    options:
      operationId: "InventoryHotelHabitacionesCors"
      parameters:
        - {name: hotel_id, in: path, required: true, type: string}
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204": {description: "CORS preflight"}

  # NOTE: /tarifas/vigente debe ir antes que /tarifas/{tarifa_id}
  # PUBLICO (sin JWT): viajero anonimo consulta precio vigente antes de registrarse.
  /api/v1/inventory/tarifas/vigente:
    get:
      operationId: "InventoryTarifaVigente"
      summary: "Tarifa vigente (precioFinal calculado). Publico."
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200": {description: "Tarifa vigente"}
    options:
      operationId: "InventoryTarifaVigenteCors"
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204": {description: "CORS preflight"}

  /api/v1/inventory/tarifas/{tarifa_id}:
    get:
      operationId: "InventoryGetTarifa"
      summary: "Obtener tarifa por id"
      security:
        - travelhub_jwt: []
      parameters:
        - {name: tarifa_id, in: path, required: true, type: string}
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200": {description: "Tarifa encontrada"}
        "401": {description: "JWT invalido"}
    patch:
      operationId: "InventoryUpdateTarifa"
      summary: "Actualizar tarifa"
      security:
        - travelhub_jwt: []
      parameters:
        - {name: tarifa_id, in: path, required: true, type: string}
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200": {description: "Tarifa actualizada"}
        "401": {description: "JWT invalido"}
    delete:
      operationId: "InventoryDeleteTarifa"
      summary: "Hard delete tarifa (audit en tarifa_history)"
      security:
        - travelhub_jwt: []
      parameters:
        - {name: tarifa_id, in: path, required: true, type: string}
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204": {description: "Eliminada"}
        "401": {description: "JWT invalido"}
    options:
      operationId: "InventoryTarifaByIdCors"
      parameters:
        - {name: tarifa_id, in: path, required: true, type: string}
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204": {description: "CORS preflight"}

  /api/v1/inventory/{path}:
    get:
      operationId: "InventoryServicesGet"
      summary: "Consultar inventario"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Inventario"
        "401":
          description: "JWT invalido — rechazado por gateway"
    put:
      operationId: "InventoryServicesPut"
      summary: "Actualizar inventario"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Inventario actualizado"
        "401":
          description: "JWT invalido — rechazado por gateway"
    post:
      operationId: "InventoryPost"
      summary: "Crear recurso"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "201":
          description: "Crear recurso"
        "401":
          description: "JWT invalido — rechazado por gateway"
    patch:
      operationId: "InventoryPatch"
      summary: "Patch parcial"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Patch parcial"
        "401":
          description: "JWT invalido — rechazado por gateway"
    delete:
      operationId: "InventoryDelete"
      summary: "Eliminar recurso (soft)"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Eliminar recurso (soft)"
        "401":
          description: "JWT invalido — rechazado por gateway"
    options:
      operationId: "InventoryServicesCors"
      summary: "CORS preflight"
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://inventory-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  # ---------------------------------------------------------------------------
  # Notification Service — Rutas PROTEGIDAS (requieren JWT valido)
  # Backend: notification-services-qhweqfkejq-uc.a.run.app
  # ---------------------------------------------------------------------------

  /api/v1/notifications/register-device:
    get:
      operationId: "NotificationServicesRegisterDevice"
      summary: "Registrar device token (push)"
      security:
        - travelhub_jwt: []
      x-google-backend:
        address: "https://notification-services-qhweqfkejq-uc.a.run.app/api/v1/notifications/register-device"
      responses:
        "200":
          description: "Device registrado"
        "401":
          description: "JWT invalido — rechazado por gateway"
    options:
      operationId: "NotificationServicesRegisterDeviceCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://notification-services-qhweqfkejq-uc.a.run.app/api/v1/notifications/register-device"
      responses:
        "204":
          description: "CORS preflight"

  /api/v1/notifications:
    get:
      operationId: "NotificationServicesList"
      summary: "Lista paginada de notificaciones del usuario"
      security:
        - travelhub_jwt: []
      x-google-backend:
        address: "https://notification-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Lista de notificaciones"
        "401":
          description: "JWT invalido — rechazado por gateway"
    options:
      operationId: "NotificationServicesListCors"
      summary: "CORS preflight"
      x-google-backend:
        address: "https://notification-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  /api/v1/notifications/{path}:
    get:
      operationId: "NotificationServicesGet"
      summary: "Obtener preferencias o notificaciones del usuario"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://notification-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Notificaciones / preferencias"
        "401":
          description: "JWT invalido — rechazado por gateway"
    put:
      operationId: "NotificationServicesPut"
      summary: "Actualizar preferencias del usuario"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://notification-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Preferencias actualizadas"
        "401":
          description: "JWT invalido — rechazado por gateway"
    post:
      operationId: "NotificationServicesPost"
      summary: "Marcar notificación como leída / read-all"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://notification-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Notificación marcada"
        "401":
          description: "JWT invalido — rechazado por gateway"
    patch:
      operationId: "NotificationPatch"
      summary: "Patch parcial"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://notification-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Patch parcial"
        "401":
          description: "JWT invalido — rechazado por gateway"
    delete:
      operationId: "NotificationDelete"
      summary: "Eliminar recurso (soft)"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://notification-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Eliminar recurso (soft)"
        "401":
          description: "JWT invalido — rechazado por gateway"
    options:
      operationId: "NotificationServicesCors"
      summary: "CORS preflight"
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://notification-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  # ---------------------------------------------------------------------------
  # PMS Integration Service — Rutas PROTEGIDAS (requieren JWT valido)
  # Backend: pms-integration-services-qhweqfkejq-uc.a.run.app
  # ---------------------------------------------------------------------------

  /api/v1/pms/{path}:
    get:
      operationId: "PmsServicesGet"
      summary: "Integracion PMS — consulta"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://pms-integration-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Datos PMS"
        "401":
          description: "JWT invalido — rechazado por gateway"
    post:
      operationId: "PmsServicesPost"
      summary: "Webhook PMS — sincronizacion entrante"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://pms-integration-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "PMS sincronizado"
        "401":
          description: "JWT invalido — rechazado por gateway"
    put:
      operationId: "PmsPut"
      summary: "Actualizar recurso"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://pms-integration-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Actualizar recurso"
        "401":
          description: "JWT invalido — rechazado por gateway"
    patch:
      operationId: "PmsPatch"
      summary: "Patch parcial"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://pms-integration-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Patch parcial"
        "401":
          description: "JWT invalido — rechazado por gateway"
    delete:
      operationId: "PmsDelete"
      summary: "Eliminar recurso (soft)"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://pms-integration-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Eliminar recurso (soft)"
        "401":
          description: "JWT invalido — rechazado por gateway"
    options:
      operationId: "PmsServicesCors"
      summary: "CORS preflight"
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://pms-integration-services-qhweqfkejq-uc.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"

  # ---------------------------------------------------------------------------
  # Shopping Cart Service — Rutas PROTEGIDAS (requieren JWT valido)
  # Backend: NO DESPLEGADO — placeholder retorna 503
  # ---------------------------------------------------------------------------

  /api/v1/cart/{path}:
    get:
      operationId: "CartServicesGet"
      summary: "Consultar carrito de compras"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://shopping-cart-services-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Carrito"
        "401":
          description: "JWT invalido — rechazado por gateway"
    post:
      operationId: "CartServicesPost"
      summary: "Agregar item al carrito"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://shopping-cart-services-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "201":
          description: "Item agregado al carrito"
        "401":
          description: "JWT invalido — rechazado por gateway"
    put:
      operationId: "CartPut"
      summary: "Actualizar recurso"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://shopping-cart-services-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Actualizar recurso"
        "401":
          description: "JWT invalido — rechazado por gateway"
    patch:
      operationId: "CartPatch"
      summary: "Patch parcial"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://shopping-cart-services-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Patch parcial"
        "401":
          description: "JWT invalido — rechazado por gateway"
    delete:
      operationId: "CartDelete"
      summary: "Eliminar recurso (soft)"
      security:
        - travelhub_jwt: []
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://shopping-cart-services-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: "Eliminar recurso (soft)"
        "401":
          description: "JWT invalido — rechazado por gateway"
    options:
      operationId: "CartServicesCors"
      summary: "CORS preflight"
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: "https://shopping-cart-services-PLACEHOLDER.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: "CORS preflight"